.container{
  height: 34vw;
  margin: 30px auto;
  background: url('/assets/banner-header.jpg') no-repeat;
  background-size: contain;
  position: relative;
}

.hero-text{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 29%;
  left: 6vw;
  animation: fadeIn 3s;
}
.hero-text h2{
  font-weight: 500;
  color: rgb(150, 150, 150);
  font-size: max(4.5vw ,22px);
}
.hero-text p{
  color: black;
  font-size: 1vw;
}
.hero-text button{
  border: none;
  color: #ffffff;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: #83837b;
  font-size: max(1vw,13px);
  border-radius: 50px;
}

@media (max-width:1050px){
    .hero-text{
      max-width: 45%;
      bottom: 10%;
    }
}
@media (max-width:750px){
  .hero-text{
    max-width: 65%;
  }
  .hero-text p{
    display: none;
  }
  .hero-text button{
    padding: 2vw 4vw;
    font-size: xx-small;
  }
}
@media (max-width:758px){
  .hero-text{
    
    max-width: 65%;
  }
  .hero-text button{
    padding: 1vw 2vw;
    font-size: x-small;
  }
}
